<div xmlns:th="http://www.thymeleaf.org">
	<table class="table">
	    <thead>
	        <tr>
	            <th>No.</th>
	            <th>Id</th>
	            <th>Name</th>
	            <th>Unit Price</th>
	            <th>Quantity</th>
	            <th>Discount</th>
	            <th>Product Date</th>
	            <th>Special?</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="itm, st : ${page.content}">
	            <td th:text="${st.count}"></td>
	            <td th:text="${itm.id}"></td>
	            <td th:text="${itm.name}"></td>
	            <td th:text="${itm.unitPrice}"></td>
	            <td th:text="${itm.quantity}"></td>
	            <td th:text="${itm.discount}"></td>
	            <td th:text="${itm.productDate}"></td>
	            <td th:text="${itm.special?'Yes':'No'}"></td>
	            <td>
	                <hr th:replace="/admin/shared/frags::lnk-crud('product', ${itm.id})"/>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" th:href="@{|/admin/product/paginate/0|}">First</a>
		</li>
		<li class="page-item" th:classappend="${page.number == 0 ? 'disabled':''}">
			<a class="page-link" th:href="@{|/admin/product/paginate/${page.number - 1}|}">Previous</a>
		</li>
		<li class="page-item">
			<a class="page-link" href="#">Page [[${page.number + 1}]] of [[${page.totalPages}]] Pages</a>
		</li>
		<li class="page-item" th:classappend="${page.number == page.totalPages - 1 ? 'disabled':''}">
			<a class="page-link" th:href="@{|/admin/product/paginate/${page.number + 1}|}">Next</a>
		</li>
		<li class="page-item">
			<a class="page-link" th:href="@{|/admin/product/paginate/${page.totalPages - 1}|}">Last</a>
		</li>
	</ul>
</div>