<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="/admin/shared/layout::dynamic(~{::view})">

	<div th:fragment="view">
	    <div class="alert alert-secondary">
	    	PRODUCT MANAGEMENT
	    	<i class="float-end text-danger" th:text="${message}"></i>
	    </div>
	    <div>
	    	<ul class="nav">
				<li th:each="c: ${categories}" class="nav-item">
				  <a th:href="@{|/admin/product/category/${c.id}|}" th:text="${c.nameVn}" class="nav-link">Link</a>
				</li>
			</ul>
	    </div>
		<!-- Nav tabs -->
	    <ul class="nav nav-tabs">
	        <li class="nav-item">
	            <a th:classappend="${edit?'active':''}" class="nav-link" data-bs-toggle="tab" href="#edit">Edit</a>
	        </li>
	        <li class="nav-item">
	            <a th:classappend="${edit?'':'active'}" class="nav-link " data-bs-toggle="tab" href="#list">List</a>
	        </li>
	    </ul>
	    <!-- Tab panes -->
	    <div class="tab-content">
	        <div th:classappend="${edit?'active':'fade'}" class="tab-pane container" id="edit">
	            <div th:replace="/admin/product/_form"></div>
	        </div>
	        <div th:classappend="${edit?'fade':'active'}" class="tab-pane container" id="list">
	            <div th:replace="/admin/product/_table"></div>
	        </div>
	    </div>
	</div>

</html>