<div xmlns:th="http://www.thymeleaf.org">
    <form th:object="${item}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label>Username</label>
            <input th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input th:field="*{password}" type="password" class="form-control">
        </div>
        <div class="mb-3">
            <label>Fullname</label>
            <input th:field="*{fullname}" class="form-control">
        </div>
        <div class="mb-3">
            <label>Photo</label>
            <input type="file" class="form-control">
            <input th:field="*{photo}" type="hidden">
        </div>
        <div class="mb-3">
            <hr th:replace="/admin/shared/frags::btn-crud('account', *{username})"/>
        </div>
    </form>
</div>