<div xmlns:th="http://www.thymeleaf.org">
	<table class="table">
	    <thead>
	        <tr>
	            <th>No.</th>
	            <th>Id</th>
	            <th>Status</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="itm, st : ${items}">
	            <td th:text="${st.count}"></td>
	            <td th:text="${itm.id}"></td>
	            <td th:text="${itm.status.name}"></td>
	            <td>
	                <hr th:replace="/admin/shared/frags::lnk-crud('order', ${itm.id})"/>
	            </td>
	        </tr>
	    </tbody>
	</table>
</div>