<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="/admin/shared/layout::dynamic(~{::view})">

	<div th:fragment="view">
	    <div class="alert alert-secondary">
	    	ORDER MANAGEMENT
	    	<i class="float-end text-danger" th:text="${message}"></i>
	    </div>
	    
		<!-- Nav tabs -->
	    <ul class="nav nav-tabs">
	        <li class="nav-item">
	            <a class="nav-link active" data-bs-toggle="tab" href="#edit">Edit</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" data-bs-toggle="tab" href="#list">List</a>
	        </li>
	    </ul>
	    <!-- Tab panes -->
	    <div class="tab-content">
	        <div class="tab-pane container active" id="edit">
	            <div th:replace="/admin/order/_form"></div>
	        </div>
	        <div class="tab-pane container fade" id="list">
	            <div th:replace="/admin/order/_table"></div>
	        </div>
	    </div>
	</div>

</html>